:root {
  --dark-blue: #304269;
  --orange: #F26101;
  --lightBlue: #D9E8F5;
  --justBlue: #91BED4;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  border: none;
  font: inherit;
  padding: 0;
  display: block;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

input:focus, button:focus  {
  outline: none;
}
button {
  transition: .3s;
}

/* button:hover {
  opacity: .8;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #f4f4f4;
    color: #1d1d1d;
}

.logo {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: var(--dark-blue);
}
.logo span {
  color: var(--orange);
}

.form__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 450px;
  /* height: 300px; */
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.form__name {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
}
label {
  margin-bottom: 5px;
}
fieldset {
  border: none;
  margin-bottom: 15px;
}

.user__input {
  width: 300px;
  border-bottom: 1px solid #a1a1a1;
  font-size: 14px;
  padding: 5px;
}

.user__input::placeholder {
  color: #a1a1a1;
  font-size: 14px;
}

.form__button {
  width: 200px;
  height: 40px;
  background-color: var(--orange);
  border-radius: 10px;
  color: white;
  margin-top: 15px;
}

.form__link {
  display: flex;
  gap: 10px;
  font-size: 14px;
  padding: 5px 0;
}

.form__link button {
  color: var(--orange);
  text-decoration: underline;
}
.user__roles {
  margin: 5px -10px 0;
}

.user__role {
  display: inline-block;
  padding: 5px;
  width: 145px;
  height: 35px;
  margin: 0 5px;
  border-radius: 10px;
  color: white;
  line-height: 1;
  background-color: #d7d7d7;
  color: var(--dark-blue)
}

.role__selected {
  background-color: var(--dark-blue);
  color: white;
}

.header {
  height: 60px;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner {
  display: flex;
  align-items: center;
}
.content {
  position: relative;
}
.nav {
  width: 250px;
  /* padding: 15px; */
  background-color: white;
  min-height: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  transition: .3s;
  z-index: 100;
}

.hidenav {
  left: -250px;
}

.burger__menu {
  width: 30px;
  height: 15px;
  margin-right: 20px;
  position: relative;
}
.burger__menu span{
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--dark-blue);
  position: absolute;
  transition: .3s;
}

.burger__menu span:first-child{
  top: 0;
  left: 0;
  /* background-color: var(--justBlue) */
}
.burger__menu span:last-child{
  bottom: 0;
  left: 0;
}

.burger__menu.cross span:first-child {
  transform: rotate(45deg) translate(0, -80%);
  top: 50%;
}
.burger__menu.cross span:last-child {
  transform: rotate(-45deg) translate(0, 1px);
  bottom: 50%;
}

.nav__list {
  padding-top: 20px;
}

.tabs__name {
  padding-left: 15px;
  height: 50px;
  font-size: 18px;

  display: flex;
  align-items: center;
}

.tabs__name button {
  color: var(--dark-blue);
  font-weight: 600;
}

.tabs__name.active button{
  color: var(--orange);
  font-weight: 600;
}

.tabContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.tab__heading {
  font-weight: 600;
  font-size: 24px;
  color: var(--orange);
  padding: 10px 0;
  /* border-bottom: 1px solid var(--dark-blue); */
  margin-bottom: 15px;
}

.profile__info {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}

.profile__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  color: var(--dark-blue);
  font-weight: 600;
}
.profile__name span{
  font-weight: 400;
}
.logout-btn {
  width: 120px;
  height: 35px;
  background-color: var(--orange);
  color: white;
  border-radius: 15px;
  margin-top: 10px;
}

.input {
  border: 1px solid var(--dark-blue);
  height: 30px;
  width: 200px;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  /* margin-bottom: 15px; */
}

.title {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  margin-bottom: 10px;
}

.submit-btn {
  width: 200px;
  height: 40px;
  background-color: var(--orange);
  border-radius: 15px;
  padding: 8px;
  color: white;
}

.load__form {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 20px;
}

.load__form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.loads__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.load {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  min-width: 300px;
  height: max-content;
  width: 30%;
  margin: 10px;

  position: relative;
}

.load__id {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-blue);
}

.load__status {
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  background-color: rgb(102, 142, 236);
  border-radius: 50%;
  padding: 8px;
  color: white;
}

.load__date {
  color: rgb(160, 160, 160);
  font-style: italic;
  margin-bottom: 10px;
}
.load__detail {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 16px;
}

.load__detail span{
  font-weight: 400;
}

.load__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.load__btn {
  height: 35px;
  width: 30%;
  border-radius: 15px;
}
.edit {
  background-color: rgb(253, 204, 119)
}
.delete {
  background-color: rgb(253, 137, 119)
}
.post {
  background-color: rgb(173, 239, 160)
}

.btns-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.wide {
  width: 100%;
}

.truck-btn{
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--dark-blue);
  color: white;
}

.truck-btn.active {
  background-color:rgb(102, 142, 236);
}
.load__filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.load__filter {
  width: 200px;
}

.limit__filter {
  background-color: white;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
}

.modal__bg {
  background-color:rgba(63, 63, 63, 0.475);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.close::before{
  content: "";
  height: 1.5px;
  width: 25px;
  background-color: var(--dark-blue);
  position: absolute;
  top: 40px;
  right: 25px;
  transform: rotate(45deg);
}
.close::after{
  content: "";
  height: 1.5px;
  width: 25px;
  background-color: var(--dark-blue);
  position: absolute;
  top: 40px;
  right: 25px;
  transform: rotate(-45deg);
}

.modal {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.small {
  font-size: 12px;
}

.small-close:before, .small-close:after {
  top: 30px;
}
.edit__truck {
  margin: 15px -20px -20px;
  background-color: rgba(207, 207, 207, 0.507);
  padding: 20px;
  border-radius: 0 0 15px 15px;
  position: relative;
}
@media screen and (max-width: 980px){
  .load{
    width: 47%;
  }
}
@media screen and (max-width: 780px){
  .load__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 690px){
  .load{
    width: 100%;
    margin: 10px 0;
  }
  
  .profile__info {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px){
  .loads__container {
    flex-direction: column;
  }
  .modal{
    width: 95%;
  }
}

@media screen and (max-width: 520px){
  .form {
    width: 100%;
  }
  .load__form {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 100%;
  }
  .submit-btn {
    width: 100%;
  }
}

@media screen and (max-width: 420px){
  .load__id, .load__date, .load__detail {
    font-size: 14px;
  }
  .logo {
    font-size: 18px;
  }
  .logout-btn {
    width: 100px;
    font-size: 12px;
  }
  .load__btns {
    flex-direction: column;
  }
  .load__btn {
    width: 100%;
    margin: 5px 0;
  }
  .btns-container {
    flex-direction: column;
  }
  .truck-btn {
    width: 100%;
  }
}