<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        body {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            color: #1d1d1d;
            
        }
        h1 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
            text-align: center;
        }
        .container {
            max-width: 400px;
            background-color: white;
            padding: 30px;
            border-radius: 20px;
        }
        input {
            display: block;
            height: 30px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid gray;
            padding: 5px;
        }
        label {
            margin-bottom: 5px;
        }
        input[type="submit"] {
            background-color: lightskyblue;
            border: none;
            text-transform: capitalize;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Reset password for <%= email %> </h1>
        <form action="" method="post">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>
            <input name="reset" type="submit" value="reset">
        </form>
    </div>
</body>
</html>